*{
  padding: 0px;
  margin: 0px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PlayerCard{
  width: 80%;
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-width: thin;
  border-radius: 10px;
  border-color: rgb(184, 184, 184);
}

.EditButton{
  padding: 5px;
  height: 20px;
  width: 20px;
  background-image: url("./assets/edit-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 1px;
}

.modalBody label{
  margin-right: 20px;
}

.board-piece-selection{
  height: 50px;
  length: 50px;
}